.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.MuiCard-root {
   margin: 20px auto;
}

.MuiCard-root:first-child {
  margin-top: 0px;
}

.MuiContainer-root {
  padding-top: 20px;
}